* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/2883057/pexels-photo-2883057.jpeg");

    /* background-image: url("https://images.pexels.com/photos/18567281/pexels-photo-18567281.jpeg"); */
    /* background-image: url("https://images.pexels.com/photos/6141336/pexels-photo-6141336.jpeg?auto=compress&cs=tinysrgb&w=1920"); */
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

}

.logo {
    font-size: 40px;
    transition: color 0.15s;
}
.logo:hover{
    color: white;
    cursor: cell;
}


nav {
    justify-content: space-between;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.opt {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    display: flex;
    gap: 30px;

}

.opt li a {
    text-decoration: none;
    color: white;
    transition: color 0.15s;
}

.opt li a:hover {
    color: black;

}

.content {
    margin-top: 15%;
    max-width: 50%;
    margin-left: 26%;
    text-align: center;
    font-size: 30px;
    flex-direction: column;
    transition: color 0.15s;
    color: rgba(186, 186, 186, 0);

}

.content:hover {
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 0.15s;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.quote:hover {
    color: rgb(202, 202, 202);

}

.join-btn {
    position: absolute;
    top: 58%;
    left: 45%;
    border: none;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.join-btn:hover {
    background-color: black;
    color: white;
}

#author {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/15522372/pexels-photo-15522372.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);





}

section {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.author-note {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);


}


.heading-author{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 50px;
    
    

}

.note1 {
    max-width: 900px;
    /* instead of fixed 1500px */
    margin: 0 auto;
    /* centers horizontally */
    font-size: 24px;
    /* slightly smaller for readability */
    font-weight: 200;
    /* lighter weight */
    line-height: 1.9;
    /* improves spacing between lines */
    text-align: center;
    
    /* keeps it centered */
    /* padding: 0 20px;   */
    
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        
}




.highlight {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: 55px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: rgba(202, 202, 202, 0.254);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    transition: color 0.15s;

    
}

.highlight:hover{
    color: white;
}

#expression {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/63238/pexels-photo-63238.jpeg");
    /* background-image: url("https://images.pexels.com/photos/15673804/pexels-photo-15673804.jpeg"); */
    /* background-color: black; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}



.frm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sending{
    background-color: white;
    border: none;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;


}

.sending:hover{
    background-color: black;
    color: white;
}



.tarea{
    width: 700px;
    height: 200px;
    border: 0px solid;
    font-family: inherit;
    text-align: center;
    transition: all 0.3s ease;
    font-size: larger;
    background: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);

}

.tarea:focus{
    border-color: #6c63ff;
    box-shadow: 0 6px 25px rgba(108,99,255,0.3);
    background: #fff;

}

.tarea::placeholder{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}


#invitation{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1656059/pexels-photo-1656059.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pitch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 18%;
    margin-bottom: 0%;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.fcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

input[name="email"]{
    width: 504px;
    border-width: 1px;
    border-color: white;
    color: white;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background: rgba(255, 255, 255, 0.0);
    margin-bottom: 10px;
            
}
input[name='fname']{
    width: 250px;
    background: rgba(255, 255, 255, 0.0);
    color: white;
    

    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-width: 1px;
    border-color: white;
    margin-bottom: 10px;
    
}

input[name='lname']{
    background: rgba(255, 255, 255, 0.0);
    color: white;
    
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-width: 1px;
    border-color: white;
    width: 250px;
}

input[name="address"]{
    width: 504px;
    background: rgba(255, 255, 255, 0.0);
    color: white;
    
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-width: 1px;
    border-color: white;
    margin-bottom: 10px;
            
            
}
.j-btn{
    
    background-color: white;
    border: none;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
    margin-left: 30%;

}

.j-btn:hover{
    color: white;
}

input::placeholder{
    font-size: 15px;
    color: white;
           
}
